@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base{
    :root {
        --primary: #35043C;
        --secondary: #f99417;
    }
    @font-face {
        font-family: "vazir";
        src: url(../public/fonts/Vazir.ttf), format("truetype");
    }
    
    @font-face {
        font-family: "vazirBold";
        src: url(../public/fonts/Vazir-Bold.ttf), format("truetype");
    }
    
    @font-face {
        font-family: "nasim";
        src: url(../public/fonts/B-Nasim-Bold_0.ttf), format("truetype");
    }
}

@layer utilities{
    .header-image{
        background-image: url("/public/static/img/header.png");
        background-repeat: no-repeat;
        background-size: cover;
        background-position-x: center;
    }
    .sign-image{
        background-image: url("/public/static/img/3d-abstract-background-with-modern-plexus-design.jpg");
        background-repeat: no-repeat;
        background-size: cover;
        /* background-position-x: center; */
    }
    .glass{
        background: rgba(255, 255, 255, 0.2);
        box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
        backdrop-filter: blur(5px);
        -webkit-backdrop-filter: blur(5px);
        border: 1px solid rgba(255, 255, 255, 0.3);
        overflow: hidden;
    }
    .nav-menu{
        @apply right-0;
    }

    .nav-menu--open{
        @apply -right-2/3;
    }
    .overlay{
        @apply invisible opacity-0 bg-black/40 fixed inset-0 w-full h-full z-10 desktop:hidden transition-all;
    }
    .overlay--visible{
        @apply visible opacity-100;
    }
    .tech{
        background-image: url("/public/static/img/farid.png");
        background-size: cover;
        background-repeat: no-repeat;
    }
    .toch{
        background-image: url("/public/static/img/farideh.png");
        background-size: cover;
        background-repeat: no-repeat;
    }
}

@layer components{
    .product-box{

    }
}

